<article class="chirp">
    <div class="titlebar">
        <a href="#/feed/user/:{{_acl.creator}}" class="chirp-author">{{author}}</a>

        <span class="chirp-time"><a href="#/deleteChirp/:{{_id}}">delete</a>{{time}}</span>
    </div>
    <p>{{text}}</p>
</article>