<tr>
    <th>{{product.name}}</th>
    <th>{{product.description}}</th>
    <th>{{quantity}}</th>
    <th>{{totalPrice}}</th>
    <th>
        <form action="#/discard/:{{productId}}" method="post">
            <button>Discard</button>
        </form>
    </th>
</tr>