<article class="post post-content">
    <p>{{content}}</p>
    <div class="info">
        submitted {{before}} ago by {{author}} |
        <a href="#/delete/comment/:{{commentId}}/:{{postId}}" class="deleteLink">delete</a>
    </div>
</article>